section {
    float: left;
}

#day1{
    background-color: rgb(0, 136, 255);
    color: white;
    margin: 5px;
}
#day2{
    background-color: rgb(0, 136, 255);
    color: white;
    margin: 5px;
}
#day3{
    background-color: rgb(0, 136, 255);
    color: white;
    margin: 5px;
}
#day4{
    background-color: rgb(0, 136, 255);
    color: white;
    margin: 5px;
}
#day5{
    background-color: rgb(0, 136, 255);
    color: white;
    margin: 5px;
}